<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000_porazka_0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,384},{57,114}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{57,114}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0001_porazka_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,384},{63,114}}</string>
                <key>offset</key>
                <string>{-32,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{63,114}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0002_porazka_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,243},{77,108}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{77,108}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0003_porazka_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{103,90}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{103,90}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0004_porazka_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{125,64}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,48},{125,64}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0005_porazka_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{139,66}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,48},{139,66}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0006_porazka_0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{147,70}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{147,70}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0007_porazka_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{147,76}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{147,76}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0008_porazka_0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,94},{147,80}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{147,80}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0009_porazka_0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{147,80}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{147,80}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
            <key>_0010_porazka_0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,80}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{147,80}}</string>
                <key>sourceSize</key>
                <string>{147,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_gameover.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fa6bab2b6acb4a8cbe129652f1b3f16$</string>
            <key>textureFileName</key>
            <string>hero_gameover.png</string>
        </dict>
    </dict>
</plist>
