<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000_rozgladanie_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1051},{84,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,170}}</string>
                <key>sourceSize</key>
                <string>{84,170}</string>
            </dict>
            <key>_0000_strach0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1208},{87,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,152}}</string>
                <key>sourceSize</key>
                <string>{87,152}</string>
            </dict>
            <key>_0000_tupanie_0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1138},{84,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,169}}</string>
                <key>sourceSize</key>
                <string>{84,169}</string>
            </dict>
            <key>_0000_wygrana_0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,947},{84,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,170}}</string>
                <key>sourceSize</key>
                <string>{84,170}</string>
            </dict>
            <key>_0000_ziewanie_0001.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,763},{84,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,170}}</string>
                <key>sourceSize</key>
                <string>{84,170}</string>
            </dict>
            <key>_0001_porazka_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,861},{96,172}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{96,172}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0001_rozgladanie_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,966},{84,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,170}}</string>
                <key>sourceSize</key>
                <string>{84,170}</string>
            </dict>
            <key>_0001_strach0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,642},{102,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,188}}</string>
                <key>sourceSize</key>
                <string>{102,188}</string>
            </dict>
            <key>_0001_tupanie_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1122},{84,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,169}}</string>
                <key>sourceSize</key>
                <string>{84,169}</string>
            </dict>
            <key>_0001_wygrana_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,935},{84,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,170}}</string>
                <key>sourceSize</key>
                <string>{84,170}</string>
            </dict>
            <key>_0001_ziewanie_0002.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,925},{96,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,161}}</string>
                <key>sourceSize</key>
                <string>{96,161}</string>
            </dict>
            <key>_0002_porazka_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,763},{116,160}}</string>
                <key>offset</key>
                <string>{-26,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{116,160}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0002_rozgladanie_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1021},{84,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,170}}</string>
                <key>sourceSize</key>
                <string>{84,170}</string>
            </dict>
            <key>_0002_strach0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,250},{102,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,199}}</string>
                <key>sourceSize</key>
                <string>{102,199}</string>
            </dict>
            <key>_0002_tupanie_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1223},{83,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,169}}</string>
                <key>sourceSize</key>
                <string>{83,169}</string>
            </dict>
            <key>_0002_wygrana_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,861},{84,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,170}}</string>
                <key>sourceSize</key>
                <string>{84,170}</string>
            </dict>
            <key>_0002_ziewanie_0003.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,1242},{84,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,155}}</string>
                <key>sourceSize</key>
                <string>{84,155}</string>
            </dict>
            <key>_0003_porazka_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1088},{152,134}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{152,134}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0003_strach0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,358},{102,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,196}}</string>
                <key>sourceSize</key>
                <string>{102,196}</string>
            </dict>
            <key>_0003_tupanie_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1138},{84,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,169}}</string>
                <key>sourceSize</key>
                <string>{84,169}</string>
            </dict>
            <key>_0003_wygrana_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,849},{84,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,170}}</string>
                <key>sourceSize</key>
                <string>{84,170}</string>
            </dict>
            <key>_0003_ziewanie_0004.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1193},{85,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,163}}</string>
                <key>sourceSize</key>
                <string>{85,163}</string>
            </dict>
            <key>_0004_porazka_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,665},{186,96}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,72},{186,96}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0004_strach0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,352},{102,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,196}}</string>
                <key>sourceSize</key>
                <string>{102,196}</string>
            </dict>
            <key>_0004_tupanie_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1138},{84,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,169}}</string>
                <key>sourceSize</key>
                <string>{84,169}</string>
            </dict>
            <key>_0004_wygrana_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,959},{90,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{90,170}</string>
            </dict>
            <key>_0004_ziewanie_0005.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,403},{81,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,178}}</string>
                <key>sourceSize</key>
                <string>{81,178}</string>
            </dict>
            <key>_0005_porazka_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,250},{208,100}}</string>
                <key>offset</key>
                <string>{6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,72},{208,100}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0005_strach0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,543},{102,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,193}}</string>
                <key>sourceSize</key>
                <string>{102,193}</string>
            </dict>
            <key>_0005_tupanie_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1107},{84,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,169}}</string>
                <key>sourceSize</key>
                <string>{84,169}</string>
            </dict>
            <key>_0005_wygrana_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{107,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,171}}</string>
                <key>sourceSize</key>
                <string>{107,171}</string>
            </dict>
            <key>_0005_ziewanie_0006.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,550},{90,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,191}}</string>
                <key>sourceSize</key>
                <string>{90,191}</string>
            </dict>
            <key>_0006_porazka_0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,250},{220,106}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{220,106}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0006_strach0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{102,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,189}}</string>
                <key>sourceSize</key>
                <string>{102,189}</string>
            </dict>
            <key>_0006_tupanie_0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{84,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,169}}</string>
                <key>sourceSize</key>
                <string>{84,169}</string>
            </dict>
            <key>_0006_wygrana_0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{126,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,177}}</string>
                <key>sourceSize</key>
                <string>{126,177}</string>
            </dict>
            <key>_0006_ziewanie_0007.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,354},{92,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,196}}</string>
                <key>sourceSize</key>
                <string>{92,196}</string>
            </dict>
            <key>_0007_porazka_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{220,116}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{220,116}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0007_strach0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,647},{102,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,186}}</string>
                <key>sourceSize</key>
                <string>{102,186}</string>
            </dict>
            <key>_0007_tupanie_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1137},{84,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,169}}</string>
                <key>sourceSize</key>
                <string>{84,169}</string>
            </dict>
            <key>_0007_wygrana_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,856},{108,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,172}}</string>
                <key>sourceSize</key>
                <string>{108,172}</string>
            </dict>
            <key>_0007_ziewanie_0008.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{92,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,196}}</string>
                <key>sourceSize</key>
                <string>{92,196}</string>
            </dict>
            <key>_0008_porazka_0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,181},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0008_strach0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,556},{102,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,188}}</string>
                <key>sourceSize</key>
                <string>{102,188}</string>
            </dict>
            <key>_0008_tupanie_0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1052},{84,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,169}}</string>
                <key>sourceSize</key>
                <string>{84,169}</string>
            </dict>
            <key>_0008_wygrana_0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,751},{108,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,172}}</string>
                <key>sourceSize</key>
                <string>{108,172}</string>
            </dict>
            <key>_0008_ziewanie_0009.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,456},{92,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,194}}</string>
                <key>sourceSize</key>
                <string>{92,194}</string>
            </dict>
            <key>_0009_porazka_0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,126},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0009_strach0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{102,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,185}}</string>
                <key>sourceSize</key>
                <string>{102,185}</string>
            </dict>
            <key>_0009_wygrana_0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{108,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,172}}</string>
                <key>sourceSize</key>
                <string>{108,172}</string>
            </dict>
            <key>_0009_ziewanie_0010.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,448},{93,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,194}}</string>
                <key>sourceSize</key>
                <string>{93,194}</string>
            </dict>
            <key>_0010_porazka_0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,126},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0010_strach0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{95,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,166}}</string>
                <key>sourceSize</key>
                <string>{95,166}</string>
            </dict>
            <key>_0010_wygrana_0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,751},{108,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,172}}</string>
                <key>sourceSize</key>
                <string>{108,172}</string>
            </dict>
            <key>_0010_ziewanie_0011.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,462},{92,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,193}}</string>
                <key>sourceSize</key>
                <string>{92,193}</string>
            </dict>
            <key>_0011_porazka_0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,126},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0011_strach0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1224},{81,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,152}}</string>
                <key>sourceSize</key>
                <string>{81,152}</string>
            </dict>
            <key>_0011_wygrana_0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,746},{108,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,172}}</string>
                <key>sourceSize</key>
                <string>{108,172}</string>
            </dict>
            <key>_0011_ziewanie_0012.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{92,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,193}}</string>
                <key>sourceSize</key>
                <string>{92,193}</string>
            </dict>
            <key>_0012_porazka_0013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0012_ziewanie_0013.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,571},{92,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,193}}</string>
                <key>sourceSize</key>
                <string>{92,193}</string>
            </dict>
            <key>_0013_porazka_0014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0013_ziewanie_0014.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,660},{89,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,184}}</string>
                <key>sourceSize</key>
                <string>{89,184}</string>
            </dict>
            <key>_0014_porazka_0015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0014_ziewanie_0015.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,486},{83,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,174}}</string>
                <key>sourceSize</key>
                <string>{83,174}</string>
            </dict>
            <key>_0015_porazka_0016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0015_ziewanie_0016.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1033},{87,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,169}}</string>
                <key>sourceSize</key>
                <string>{87,169}</string>
            </dict>
            <key>_0016_porazka_0017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0016_ziewanie_0017.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{89,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,169}}</string>
                <key>sourceSize</key>
                <string>{89,169}</string>
            </dict>
            <key>_0017_porazka_0018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,126},{220,122}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{220,122}}</string>
                <key>sourceSize</key>
                <string>{220,172}</string>
            </dict>
            <key>_0017_ziewanie_0018.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,983},{84,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,170}}</string>
                <key>sourceSize</key>
                <string>{84,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_animations.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ac04ca0b27ac4990fd6df390c736c6$</string>
            <key>textureFileName</key>
            <string>hero_animations.png</string>
        </dict>
    </dict>
</plist>
