<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>belka.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{332,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,56}}</string>
                <key>sourceSize</key>
                <string>{332,56}</string>
            </dict>
            <key>bloczek.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{33,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,42}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>kamyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{45,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{45,20}</string>
            </dict>
            <key>kula.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>lina.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{8,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,129}}</string>
                <key>sourceSize</key>
                <string>{8,129}</string>
            </dict>
            <key>podloze_lv01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>stalaktyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{70,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,191}}</string>
                <key>sourceSize</key>
                <string>{70,191}</string>
            </dict>
            <key>tlo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,981},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>wezel.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,981},{37,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,31}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>level1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9e7daa50c80250a261cf4a5948d15cd$</string>
            <key>textureFileName</key>
            <string>level1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
